@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 249 74% 97%;
}

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-lilac-100 text-gray-900 antialiased;
}

.glass {
  background: rgba(255, 255, 255, 0.55);
  backdrop-filter: blur(8px);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.safe-area-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}
